#page-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 7em;
  padding: 0 1em 0 1em;
}

#main-text {
  font-size: 2em;
}

#secondary-text {
  font-size: .7em;
  color: #6e6e6e;
}

#products-container {
  margin-top: 10px;
}

#tab-Content-container {
  padding: 20px 10px 0 10px;
}

#wearable-container {
  border: 1px solid lightgrey;
  background-color: #e5e5e5;
  padding: 10px;
}

#products-slider {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.product-container {
  background-color: white;
  border-radius: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left: 20px;
}

.apple-watch {
  width: 170px;
  height: 170px;
  margin-top: -30px;
}


.prim-text {
  margin-top: -10px;
} 
.sec-text {
  color: #868686;
}
.price {
  color: #5956E9;
}