.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.container-circle {
  margin-top: 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  text-transform: capitalize;
  color: black;
  margin-left: -1rem !important;
  font-size: 4rem;
}

.coming-soon-image {
  height: auto;
  width: 17em;
  margin-top: -10em;
}